.bigContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.searchContainer {
    width: 100%;
    max-width: 1024px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-image: url("https://images5.alphacoders.com/796/796108.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    

}

.input {
    color: gray;
    border: none;
    outline:transparent;
    background-color: rgba(255, 255, 255, 0.729);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 576px;
    margin: 15px ;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
    
}


select{
    width: 192px;
    margin-top: 4px;
    display: inline-block;
    border: none;
    background-color: rgba(255, 255, 255, 0.525);

}
label{
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0 , 255, 0);
    background-color: rgba(218, 165, 32, 0.504);
}